---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">Software</h3>
{% for project in site.data.settings.software %}
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h5>
      <a href="{{ project.repo | default: project.url }}"
         target="_blank" rel="noopener">
        {{ project.name }}
      </a>
    </h5>

    <div style="text-align: justify; text-justify: inter-word; hyphens: auto;">
      {{ project.description | markdownify }}
    </div>
  </div>

  <div class="col-md-6">
    <a href="{{ project.repo | default: project.url }}" target="_blank" rel="noopener">
      <img src="{{ site.github.url }}/{{ project.image }}" alt="{{ project.name }}" width="100%">
    </a>
  </div>
</div>
{% endfor %}
